@page "/parkings"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Parkings</PageTitle>

<div class="add-parking-part">
    <h1>Parkings</h1>
</div>

@if (parkings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="add-button">
        <a href="/add-parking">
            <button class="add-btn">Add new parking</button>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Parking Name</th>
                <th>Number of Places</th>
                <th>Opening Time</th>
                <th>Closing Time</th>
                <th>Price per Hour</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parking in parkings)
            {
                <tr>
                    <td>@parking.Id</td>
                    <td>@parking.Name</td>
                    <td>@parking.NumberOfPlaces</td>
                    <td>@parking.OpeningTime</td>
                    <td>@parking.ClosingTime</td>
                    <td>@parking.PricePerHour</td>
                    <td>
                        <a href="/parkingEntries/@parking.Id"><button class="entries-btn">Entries</button></a>
                    </td>
                    <td>
                        <a href="/parkingEntries/@parking.Id/payments"><button class="payments-btn">Payments</button></a>
                    </td>
                    <td>
                        <button class="update-btn" @onclick="() => NavigateToUpdateParking(parking.Id)">Update</button>
                    </td>
                    <td>
                        <a href="/delete-parking/@parking.Id"><button class="delete-btn">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Parking[]? parkings;

    protected override async Task OnInitializedAsync()
    {
        var p = await Http.GetFromJsonAsync<Parking[]>("https://localhost:7185/api/Parkings");
        parkings = p;
    }
    
    private void NavigateToUpdateParking(int id)
    {
        NavigationManager.NavigateTo($"/update-parking/{id}");
    }

    public class Parking
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int NumberOfPlaces { get; set; }
        public string OpeningTime { get; set; }
        public string ClosingTime { get; set; }
        public decimal PricePerHour { get; set; }
    }
}